* {
  list-style-type: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #c9e3cc;
  border-radius: 0.5rem;
}
.header__logo__link__img {
  position: relative;
  left: -2rem;
  height: 5rem;
  width: 21rem;
  object-fit: cover;
  border-radius: 0.5rem;
}
.header__basket a {
  position: relative;
  top: 1.3rem;
  left: -1rem;
  text-decoration: none;
  font-size: 1.5rem;
}

#nombreProduct {
  color: black;
  font-size: 2rem;
  position: relative;
  top: -0.2rem;
}

.footer {
  display: flex;
  position: relative;
  top: 120rem;
}

#containerMain {
  display: flex;
  justify-content: center;
}

#listProducts {
  display: flex;
  flex-flow: row wrap;
  width: 90rem;
  height: auto;
  border-radius: 0.5rem;
  border-top-right-radius: 1rem;
  padding: 0;
}

#elementProducts {
  background-color: #B8CBD0;
  width: 27rem;
  height: 32rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

#imageProduct {
  position: relative;
  top: -0.5rem;
  left: -2rem;
  height: 20rem;
  width: 26rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

#titleProduct {
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: -1.5rem;
  top: -1rem;
}

#priceProduct {
  position: relative;
  top: -3.7rem;
  left: 21rem;
}

#descriptionProduct {
  position: relative;
  top: -4rem;
  left: 0.5rem;
  word-break: normal;
}

#linkProduct {
  position: relative;
  top: -7rem;
  left: 0;
}

#linkProduct p {
  text-decoration: none;
  font-size: 4rem;
  text-align: center;
  color: #333533;
}

#linkProduct p:hover {
  transform: scale(1.5);
}

#mainProduct {
  display: flex;
  width: 1440px;
  height: 31rem;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #b8cbd0;
  position: relative;
  border-radius: 0.5rem;
  width: 80rem;
  height: 60rem;
  top: 2rem;
  left: 2rem;
}

#imageEltProduct {
  position: relative;
  top: 2rem;
  left: -1rem;
  width: 70rem;
  height: 40rem;
  object-fit: cover;
  border: 1px solid;
  border-radius: 0.5rem;
}

#titleEltProduct {
  position: relative;
  top: 0.5rem;
  left: 0;
  font-size: 2rem;
}

#descriptionEltProduct {
  position: relative;
  top: -3rem;
  left: 0;
  font-size: 1.5rem;
}

#listLensesProduct {
  position: relative;
  width: 20rem;
  top: -2rem;
  left: 0;
}

#listLensesProduct label {
  font-size: 2rem;
}

#listLensesProduct select {
  position: relative;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

#listQuantityProduct {
  position: relative;
  width: 20rem;
  top: 0;
  left: 0;
}

#listQuantityProduct label {
  font-size: 2rem;
}

#listQuantityProduct select {
  position: relative;
  left: 0.3rem;
  width: 5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

#priceEltProduct {
  position: relative;
  width: 30rem;
  top: 7rem;
  left: 63rem;
  font-size: 1.7rem;
}

#btnAddBasket {
  position: relative;
  top: -6rem;
  left: 23rem;
  width: 30rem;
  height: 5rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}

#mainBasket {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  top: 0;
}

/* tableau de commande */
#orderTab {
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin-bottom: 5rem;
}

h2 {
  position: relative;
  top: 0;
  text-align: center;
}

#mainTable {
  position: relative;
  table-layout: fixed;
  text-align: center;
  width: 60rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

#mainTable th {
  background-color: #b8cbd0;
  height: 2rem;
}

#mainTable td {
  background-color: #c9e3cc;
  height: 2rem;
}

.deleteItem {
  width: 6rem;
}

#totalPrice {
  position: relative;
  left: 39.95rem;
  border: 0px;
}

#totalPrice p {
  position: relative;
}

.btnDeleteElt {
  background-color: #a21212;
  color: white;
  border-radius: 0.2rem;
  height: 1.5rem;
  width: 2rem;
}

#btnDelete {
  position: relative;
  top: 5rem;
  left: 1rem;
  border-radius: 0.2rem;
  width: 10rem;
  height: 1.5rem;
}

/* Formulaire de commande */
#orderPurchase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contactBloc {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 2rem;
}

.label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: light;
  font-size: 1.4rem;
}

.input {
  height: 1.5rem;
  width: 20rem;
  font-size: 1.2rem;
  font-weight: light;
}

#confirmPurchase {
  position: relative;
  top: 3rem;
  left: 5.5rem;
  height: 2rem;
  width: 10rem;
  background-color: #d5f5ba;
}

#mainOrderStatus {
  display: flex;
  justify-content: center;
}

#contact {
  font-size: 1.4rem;
}

#orderIdElt, #emailElt, #fullName, #addressElt, #cityElt, #totalPriceOrder {
  font-weight: bolder;
}

#returnIndex {
  background-color: #b8cbd0;
  width: 12rem;
  height: 3rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
