#mainOrderStatus {
    display: flex;
    justify-content: center;
}

#contact {
    font-size: 1.4rem;
}

#orderIdElt, #emailElt, #fullName, #addressElt, #cityElt, #totalPriceOrder {
    font-weight: bolder;
}

#returnIndex {
    background-color: #b8cbd0;
    width: 12rem;
    height: 3rem;
    border-radius: 0.2rem;
    font-size: 1.2rem;
}