#mainProduct {
  display: flex;
  width: 1440px;
  height: 31rem;
}

#container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #b8cbd0;
  position: relative;
  border-radius: 0.5rem;
  width: 80rem;
  height: 60rem;
  top: 2rem;
  left: 2rem;
}

#imageEltProduct {
  position: relative;
  top: 2rem;
  left: -1rem;
  width: 70rem;
  height: 40rem;
  object-fit: cover;
  border: 1px solid;
  border-radius: 0.5rem;
}

#titleEltProduct {
  position: relative;
  top: 0.5rem;
  left: 0;
  font-size: 2rem;
}

#descriptionEltProduct {
  position: relative;
  top: -3rem;
  left: 0;
  font-size: 1.5rem;
}

#listLensesProduct {
  position: relative;
  width: 20rem;
  top: -2rem;
  left: 0;
}

#listLensesProduct label {
  font-size: 2rem;
}

#listLensesProduct select {
  position: relative;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

#listQuantityProduct {
  position: relative;
  width: 20rem;
  top: 0;
  left: 0;
}

#listQuantityProduct label {
  font-size: 2rem;
}

#listQuantityProduct select {
  position: relative;
  left: 0.3rem;
  width: 5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
}

#priceEltProduct {
  position: relative;
  width: 30rem;
  top: 7rem;
  left: 63rem;
  font-size: 1.7rem;
}

#btnAddBasket {
  position: relative;
  top: -6rem;
  left: 23rem;
  width: 30rem;
  height: 5rem;
  font-size: 1.7rem;
  border-radius: 0.5rem;
}
