#listProducts {
  display: flex;
  flex-flow: row wrap;
  width: 90rem;
  height: auto;
  border-radius: 0.5rem;
  border-top-right-radius: 1rem;
  padding: 0;
}

#elementProducts {
  background-color: #f3e9f1;
  display: flex;
  width: 26rem;
  height: 32rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

#elementProducts a {
    width: 25rem;
}

#imageProduct {
  position: relative;
  top: -0.5rem;
  left: -2rem;
  height: 20rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

#titleProduct {
position: relative;
left: -1.6rem;
}

#priceProduct {
  position: relative;
  top: -2.8rem;
  left: 20rem
}

#descriptionProduct {
  position: relative;
  top: -2rem;
  left: 1rem
}

#descriptionProduct {
    word-wrap: break-word;
}

#btnAddBasket {
  position: absolute;
  top: 35rem;
  left: 15rem;
  width: 10rem;
  height: 2rem;
}
