#containerMain {
  display: flex;
  justify-content: center;
}

#listProducts {
  display: flex;
  flex-flow: row wrap;
  width: 90rem;
  height: auto;
  border-radius: 0.5rem;
  border-top-right-radius: 1rem;
  padding: 0;
}

#elementProducts {
  background-color: #B8CBD0;
  width: 27rem;
  height: 32rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid;
  border-radius: 0.5rem;
}

#imageProduct {
  position: relative;
  top: -0.5rem;
  left: -2rem;
  height: 20rem;
  width: 26rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

#titleProduct {
  position: relative;
  display: flex;
  justify-content: flex-start;
  left: -1.5rem;
  top: -1rem;
}

#priceProduct {
  position: relative;
  top: -3.7rem;
  left: 21rem;  
}
#descriptionProduct {
  position: relative;
  top: -4rem;
  left: 0.5rem;
  word-break: normal;
}

#linkProduct {
  position: relative;
  top: -7rem;
  left: 0;
  
}

#linkProduct p {
  text-decoration: none;
  font-size: 4rem;
  text-align: center;
  color: #333533;
}

#linkProduct p:hover {
  transform: scale(1.5);
}
