.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #c9e3cc;
  border-radius: 0.5rem;
  &__logo {
    &__link {
      &__img {
        position: relative;
        left: -2rem;
        height: 5rem;
        width: 21rem;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
  }
  &__basket a {
    position: relative;
    top: 1.3rem;
    left: -1rem;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

#nombreProduct {
  color: black;
  font-size: 2rem;
  position: relative;
  top: -0.2rem;
}
